{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}" />
{% endblock %}

{% block main_content %}

<section class="body__chatbot">
<h1 class="headline"> Phoner Chatbot</h1>

<section class="control">
    <a href="{{ url_for('pages.contacts_update') }}" class="button button--control">
        <span>Update Contacts</span>
    </a>
   <!--<a href="{{ url_for('survey.schedule') }}" class="button button--control">
        <span>Schedule Surveys</span>
    </a>--> 
    
    </section>

<table class="table">
    <colgroup>
        <col style="width: 20%">
        <col style="width: 15%">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 15%">
        <col style="width: 15%">
    </colgroup>
    <thead>
        <tr class="table__header">
            <th class="table__cell table__cell--header">Name</th>
            <th class="table__cell table__cell--header">Phone</th>
            <th class="table__cell table__cell--header">Gender</th>
            <th class="table__cell table__cell--header">Age</th>
            <th class="table__cell table__cell--header">Kids</th>
            <th class="table__cell table__cell--header">Education</th>
            <th class="table__cell table__cell--header">Village</th>
        </tr>
    </thead>
    <tbody>
        {% for data in all_contacts %}
            <tr>
                <td class="table__cell">
                    <p class="table__notificationTitle">{{ data.name }}</p>
                  
                </td>
                <td class="table__cell">{{ data.phone }}</td>
                <td class="table__cell">{{ data.gender }}</td>
                <td class="table__cell">{{ data.age }}</td>
                <td class="table__cell">{{ data.kids }}</td>
                <td class="table__cell">{{ data.education }}</td>
                <td class="table__cell">{{ data.village }}</td>
            </tr>
        {% endfor %}
    </tbody>
  
<table width=100% height=100%>
    <tr>
       
    </tr></table>


</section>
    {% endblock %}
